RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L] # при любом запросе будет передавать в index.php строку запроса в $_SERVER['REQUEST_URI']